# local host-run pool
DATABASE_URL="postgresql://techcode:09341039dkejq@localhost:5533/qbitx?schema=public"

# prod example:
# DATABASE_URL="postgresql://postgres:seavoqgnxrw8yplq@qbitx-db-gv70dk:5432/postgres"
